:root {
  --transition-speed: 0.3s;
  --transition-speed-slow: 0.8s;
  
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
  --spacing-6: 4.5rem;

  --body-font-size: 1rem;

  --font-size-xs: calc(var(--body-font-size) * 0.75);
  --font-size-sm: calc(var(--body-font-size) * 0.95);
  --font-size-md: --body-font-size;
  --font-size-lg: calc(var(--body-font-size) * 1.1);
  --font-size-xl: calc(var(--body-font-size) * 1.375);
  --font-size-xxl: calc(var(--body-font-size) * 1.75);

  --font-roboto-bold: 'Roboto-Bold', sans-serif;
  --font-roboto-italic: 'Roboto-Italic', sans-serif;
  --font-roboto-light: 'Roboto-Light', sans-serif;
  --font-roboto-regular: 'Roboto-Regular', sans-serif;
  --font-roboto-cond-bold: 'RobotoCondensed-Bold', sans-serif;
  --font-roboto-cond-light: 'RobotoCondensed-Light', sans-serif;
  --font-roboto-cond-regular: 'RobotoCondensed-Regular', sans-serif;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-abn-darkgrey: #222222;
  --color-abn-logo-grey: #868686;
  --color-abn-grey: #666666;
  --color-abn-darkgreen: #004D41;
  --color-rgba-abn-darkgreen: rgba(0,77,64, 0.3);
  --color-abn-midgreen: #007066;
  --color-abn-lightgreen: #00AB95;
  --color-abn-darkyellow: #BD960B;
  --color-abn-lightyellow: #E5B50A;

  --breakpoint-desktop: 1200px;
  --breakpoint-tablet: 992px;
  --breakpoint-mobile: 576px;

  --zindex-top: 1000;
  --header-nav-height: 80px;
}