:root {
  --transition-speed: 0.3s;
  --transition-speed-slow: 0.8s;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
  --spacing-6: 4.5rem;

  --body-font-size: 1rem;

  --font-size-xs: calc(var(--body-font-size) * 0.75);
  --font-size-sm: calc(var(--body-font-size) * 0.95);
  --font-size-md: --body-font-size;
  --font-size-lg: calc(var(--body-font-size) * 1.1);
  --font-size-xl: calc(var(--body-font-size) * 1.375);
  --font-size-xxl: calc(var(--body-font-size) * 1.75);

  --font-roboto-bold: "Roboto-Bold", sans-serif;
  --font-roboto-italic: "Roboto-Italic", sans-serif;
  --font-roboto-light: "Roboto-Light", sans-serif;
  --font-roboto-regular: "Roboto-Regular", sans-serif;
  --font-roboto-cond-bold: "RobotoCondensed-Bold", sans-serif;
  --font-roboto-cond-light: "RobotoCondensed-Light", sans-serif;
  --font-roboto-cond-regular: "RobotoCondensed-Regular", sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-app-darkgrey: #222222;
  --color-app-logo-grey: #868686;
  --color-app-grey: #666666;
  --color-app-darkgreen: #34495e;
  --color-rgba-app-darkgreen: rgba(0, 77, 64, 0.3);
  --color-app-midgreen: #007000;
  --color-app-lightgreen: #41b883;
  --color-app-darkyellow: #bd8300;
  --color-app-lightyellow: #e5b50f;

  --breakpoint-desktop: 1200px;
  --breakpoint-tablet: 992px;
  --breakpoint-mobile: 576px;

  --zindex-top: 1000;
  --header-nav-height: 80px;
}
