.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-6);

  &--logo {
    margin: var(--spacing-3) 0;
    width: 200px;
  }
}
