.groups {
  margin-bottom: var(--spacing-5);

  &--header {
    margin-bottom: var(--spacing-4);
  }

  &--inner {
    height: 570px;
    margin: -100px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
