.header-nav {
  display: flex;
  align-items: center;
  height: var(--header-nav-height);

  &--link {
    position: relative;
  }

  &--strap {
    font-family: var(--font-roboto-cond-regular);
    color: var(--color-abn-lightyellow);
    transform: rotate(4deg);
    white-space: nowrap;
    position: absolute;
    bottom: -2px;
    left: 24%;
  }

  &--inner {
    padding: 20px var(--spacing-3);
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      padding: 20px var(--spacing-5);
    }
  }

  &--search {
    flex-basis: 80%;
    margin-left: var(--spacing-3);

    @include media-breakpoint-up(lg) {
      flex-basis: 50%;
      margin-left: initial;
    }
  }
}