@use "sass:color";

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-quicksand-regular);
  white-space: nowrap;
  padding: 0 var(--spacing-4);
  color: var(--color-white);
  font-size: var(--font-size-s);
  background: none;
  height: 40px;

  &.default {
    border: 2px solid var(--color-app-lightyellow);

    &:hover {
      border-color: var(--color-app-darkyellow);
      color: var(--color-app-darkyellow);
    }
  }

  &.primary {
    background-color: var(--color-app-lightyellow);
    &:hover {
      background-color: var(--color-app-darkyellow);
    }
  }

  &.secondary {
    background-color: var(--color-app-midgreen);
    &:hover {
      background-color: var(--color-app-darkgreen);
    }
  }

  &[disabled] {
    pointer-events: none;
    cursor: poitner;
    background-color: darkgrey;
  }
}
